@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 217, 32.6%, 17.45%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 217, 32.6%, 17.45%;
    --primary-hover: 217.24, 32.6%, 24.45%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 215, 16%, 47%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.35rem;
  }

  .dark {
    --background: 240, 10%, 11%;
    --foreground: 0 0% 95%;

    --card: 240, 10%, 14%;
    --card-foreground: 0 0% 95%;

    --popover: 240, 10%, 14%;
    --popover-foreground: 0 0% 95%;

    --primary: 0 0% 97%;
    --primary-hover: 0 0% 93%;
    --primary-foreground: 0 0% 9%;

    --secondary: 240, 10%, 18%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240, 10%, 19%;
    --muted-foreground: 215, 14.17%, 80.2%;

    --accent: 240, 10%, 19%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 40.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240, 10%, 22%;
    --input: 240, 10%, 22%;
    --ring: 0 0% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply overflow-y-scroll bg-background text-foreground;
  }
}

html,
body {
  height: 100%;
}

.text-balance {
  text-wrap: balance;
}
